body {
    padding: 20px;
}
#container {
    max-height: 600px;
    overflow-y: auto;
}
#controls {
    margin-bottom: 20px;
}
.card {
    padding: 10px;
    border: 1px solid gainsboro;
    display: flex;
}

.card .main-info {
    padding-left: 25px;
}

img {
    height: 300px;
    width: 300px;
}